* {
  margin: 0;
  box-sizing: border-box;
  font-family: HelveticaNeue, Helvetica, sans-serif;
}

.nav {
  color: rgb(0, 0, 0);
}
.nav__trigger-finger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 30px;
  height: 20px;
  margin: 40px;
  color: rgb(0, 92, 128);
}
.nav__trigger-finger::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  background: rgb(0, 92, 128);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s cubic-bezier(0.75, 0, 0.25, 1);
}
.nav__trigger-finger span {
  display: block;
  width: 100%;
  height: 2px;
  transition: transform 1s cubic-bezier(0.75, 0, 0.25, 1);
  background: currentColor;
}
.nav__trigger-finger span::before, .nav__trigger-finger span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  height: 2px;
  background: currentColor;
  transition: transform 0.4s cubic-bezier(0.75, 0, 0.25, 1), top 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1);
}
.nav__trigger-finger span::before {
  top: 0;
}
.nav__trigger-finger span::after {
  top: calc(100% - 2px);
}
.nav__trigger-input, .nav__submenu-trigger-input {
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: fixed;
}
.nav__trigger-input:focus + label {
  color: white;
}
.nav__trigger-input:focus + label::before {
  opacity: 1;
}
.nav__trigger-input:checked + label {
  height: 10px;
  color: white;
}
.nav__trigger-input:checked + label span {
  transform: rotate(45deg);
}
.nav__trigger-input:checked + label span::before, .nav__trigger-input:checked + label span::after {
  top: calc(50% - 1px);
  transition: transform 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), top 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1);
}
.nav__trigger-input:checked + label span::after {
  transform: rotate(90deg);
}
.nav__trigger-input:checked ~ ul {
  z-index: 9;
  transform: none;
  transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}
.nav__list {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgb(3, 25, 100);
  font-size: 4rem;
  padding: 40px;
  transform: translate(100vw) rotate(45deg);
  transition: 0.2s cubic-bezier(0.75, 0, 0.25, 1);

}
.nav__item {
  list-style: none;
  color: rgb(0, 0, 0);

}  
.nav__text {
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  cursor:pointer;
}
.nav__text2 {
  color: yellow;
  font-family: 'Times New Roman', Times, serif;
  cursor:pointer;
}
.nav__item + .nav__item {
  margin-top: 20px;
}
.nav__submenu-trigger-input:checked + label::after {
  transform: translateY(10px);
}
.nav__submenu-trigger-input:checked ~ ul {
  display: block;
}
.nav__submenu-trigger-input:focus + label::after {
  transform: translateY(5px);
}
.nav__submenu-trigger-finger::after {
  content: "";
  display: inline-block;
  border: 10px solid transparent;
  border-top-color: white;
  transition: 0.4s cubic-bezier(0.75, 0, 0.25, 1);
}
.nav__link {
  text-decoration: none;
  color: inherit;
}
.nav__list-child {
  display: none;
  font-size: 2rem;
  margin-top: 10px;
  padding-left: 2rem;
}

main {
  padding: 6rem 4rem;
}
main h1 {
  font-size: 3rem;
  font-weight: normal;
}
main p {
  line-height: 1.5;
  margin-top: 1.5rem;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
  color: rgb(0, 92, 128);
}
/* Barre de navigation */
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  background-color: #2600ff81;
  top: 0;
}
nav h1{
  font-size: 30px;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
}
nav .onglets p{
  font-size: 17px;
  margin-right: 10px;
  cursor:pointer;
}
nav .onglets input{
  margin: 8px 20px;
  padding: 15px;
  border-radius: 30px;
  border:none;
  background-color: #f2f2f2;
  outline:none;
}
.rechercher{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 92, 128);
    margin-right: 200px;
}
/* Fin de la barre de navigation */

/* Header */
header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
header h1{
  font-size: 50px;
  max-width: 500px;
  text-align:center;
  font-family:Impact, Arial;
}
header button{
  padding: 15px 20px;
  font-size: 20px;
  border: solid;
  border-radius: 2px;
  border-color:rgb(0, 92, 128);
  border-radius: 5px;
  outline:none;
  cursor:pointer;
  color:rgb(0, 92, 128);
  background-color: rgb(0, 0, 0);
}

/* Fin du header */

/* Section principale */

.main{
  margin: 20px;
  margin-top: 50px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
/* Toutes les cartes */
.cards{
  display:flex;
  flex-wrap:wrap;
}
.cards .card{
  margin-right: 50px;
  margin-left: 50px;

}
.cards .card img{
  width: 350px;
}
.cards .card .card-header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  font-family: 'Times New Roman', Times;
  font-size: 25px;
}
.cards .card .card-body p{
  margin-top: 10px;
  font-size: 15;

}
.price
{
  margin-left: 10px;
}
/* Fin de toutes les cartes */

/* Video de présentation */
.main .video{
  margin-top: 80px;
  width: 90%;
}
.main .video iframe{
  border:none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}
/* Fin de la vidéo de présentation */
/* Fin de la section principale */

/* Pied de page */
footer {
  margin-top: 100px;
  background-color: #000;
  padding: 35px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
footer .contact 
{
    color:rgb(0, 92, 128);
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align:center;
  width: 25px;
  cursor:pointer;
  color: rgb(0, 92, 128);
}
/* Fin du pied de page */

@media screen and (max-width: 640px){
  nav .onglets .link, nav h1{
    display: none;
  }
  .cards .card img{
    width: 300px;
  }
}
.logo 
{
  width: 7%; 
  
}
.glogo 
{
  margin-left: 20%;
  margin-top: 75px;
  width: 60%; 
  margin-right: 20%;
  
}
.nouv 
{
  margin-bottom: 10px;
  font-size: 50px;
  font-family: 'IMPACT', Times;
  
}
.nouv2
{
  margin-bottom: 35px; 
  color: yellow;
  
}
.LSCustom  
{
  font-size: 80px;
  max-width: 1000px;
  text-align:center;
  font-family: 'Times New Roman', Times;
  margin-left: -65px;
  color: white;
}

.allpat{
 display: flex;
 margin-top: 50px;
 cursor: default;
}
.prespat{
 width:100%;
 font-size: 50px;
}
.nompat{
  width:100%;
  font-size: 30px;
  color: yellow;
 }
.pat{
 margin-right: 50px;
}

.login
{
text-align: center;
font-size: 50px;
}
.email
{
  background-color: rgb(0, 92, 128);
}
.button_active
{
  background-color: red;
}


